{% extends "blog/base.html" %}
{% load static %}
{% block title %}
<title>Basic HTML Page</title>
{% endblock title %}
{% block content %}
<header>
    
    <h1>Home Page Content</h1>
    </header>
    <nav>
    <ul>
        <li><a href="{% url 'blog-page1' %}">Page 1</a></li>
        <li><a href="{% url 'blog-page2' %}">Page 2</a></li>
    </ul>
    </nav>
    <main style="text-align:center;">
    <p>This is the main content of the page.</p>
    <button><a href="page1.html">Go to Page 1</a></button>
    <button><a href="page2.html">Go to Page 2</a></button>
    </main>
{% endblock content %}